Repository code-chronicles-code/leetcode-curriculum, pull requests merged in 2024-08, with the labels that each got.

#276 Created is_palindrome goody
  workspaces/adventure-pack/goodies/python3/src/is_palindrome/__init__.py
  workspaces/adventure-pack/goodies/python3/src/is_palindrome/goody.json
  workspaces/adventure-pack/goodies/python3/src/is_palindrome/test.py
  workspaces/adventure-pack/src/app/__tests__/__snapshots__/equip-test.ts.snap
  workspaces/adventure-pack/src/app/__tests__/__snapshots__/render-test.ts.snap
Labels: enhancement, python

#364 Added dynamic timestamp to problem-of-the-day bot
  workspaces/post-leetcode-potd-to-discord/src/formatTimestampForDiscord.ts
  workspaces/post-leetcode-potd-to-discord/src/getPotdMessage.ts
  workspaces/post-leetcode-potd-to-discord/src/main.ts
Labels: enhancement

#376 Add an `Iterator.prototype.tally` TypeScript goody
  workspaces/adventure-pack/goodies/typescript/Iterator.prototype.tally/index.test.ts
  workspaces/adventure-pack/goodies/typescript/Iterator.prototype.tally/index.ts
  workspaces/adventure-pack/src/app/__tests__/__snapshots__/equip-test.ts.snap
  workspaces/adventure-pack/src/app/__tests__/__snapshots__/render-test.ts.snap
Labels: enhancement, typescript

#370 Add a `flatten` python goody
  workspaces/adventure-pack/goodies/python3/src/flatten/__init__.py
  workspaces/adventure-pack/goodies/python3/src/flatten/goody.json
  workspaces/adventure-pack/goodies/python3/src/flatten/test.py
  workspaces/adventure-pack/src/app/__tests__/__snapshots__/equip-test.ts.snap
  workspaces/adventure-pack/src/app/__tests__/__snapshots__/render-test.ts.snap
Labels: enhancement, good first issue, python
